<mat-form-field appearance="fill">
  <mat-label>{{ label }}</mat-label>

  <input
    matInput
    name="password"
    [type]="hidePassword ? 'password' : 'text'"
    [disabled]="disabled"
    [required]="required"
    [value]="value"
    minlength="minlength"
    [errorStateMatcher]="matcher"
    (input)="onInput($event)"
    (focusin)="onFocusIn($event)"
    (focusout)="onFocusOut($event)"
  />

  <button
    (click)="hidePassword = !hidePassword"
    mat-icon-button
    matSuffix
    type="button"
    [attr.aria-label]="'Hide password'"
    [attr.aria-pressed]="hidePassword"
  >
    <mat-icon>{{ hidePassword ? "visibility_off" : "visibility" }}</mat-icon>
  </button>

  <mat-error>
    <mat-error *ngIf="ngControl?.errors?.['required']">
      You must enter a value
    </mat-error>
    <mat-error *ngIf="ngControl?.errors?.['minlength']">
      Password must be at least {{ minlength }} characters long
    </mat-error>
    <ng-container *ngTemplateOutlet="additionalValidationErrors"></ng-container>
  </mat-error>
</mat-form-field>
